:root{
    --main-blackcolor1:#1c1c1c;
    --main-whitecolor1:#fff;
    --main-greencolor1:#c8dd76;
    --magin-graycolor:#c0c0c0;
}

.hide-text{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}


header{
    margin: 0 auto;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2vw;

}
nav{
    display: flex;
    position: relative;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.left-header{
    display: flex;
    position: absolute;
    left: 0;
    gap: 32px;
}

.right-header-wrapper{
    gap: 32px;
    display: flex;
    position: absolute;
    right: 0;
}

.header-logo{
    width: 53px;
    height: 80px;
}


.header-sns-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-sns-wrapper svg{
    width: 100%;
    height: 100%;
}

.header-sns-wrapper a{
    /* a는 block넣어주기 */
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 10px;
}
    
.header-wrapper{
    text-align: start;
}

.nav-tittle{
    padding-top: 24px;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 32px;
}

.inner-nav{
    display: none;
    margin-top: 24px;
}
.inner-nav > li{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}

nav a {
    color: var(--main-blackcolor1);
}

.active{
    width: 165px;
}

#main-slide-area{
    padding-bottom: 64px;
}

.main-slide-wrapper{
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}

.contents-wrwapper{
    width: 100%;
    display: flex;
}

.main-first-slide{
    background-image: url(../img/main-slide/56.jpg);
    background-position: 60% center;
}

.content{
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.main-slide-text{
    position: absolute;
    top: 20%;
    color: var(--main-whitecolor1);
    left: 5%;
}

.main-slide-text:first-of-type p {
    font-size: 16px;
}

.main-slide-text h2 {
    font-size: 45px;
    font-weight: 900;
    margin-top: 32px;
    line-height: 56px;
}

.content-explane{
    font-size: 17px;
    margin-top: 32px;
    line-height: 24px;
    font-weight: 900;
}

read

.read-more-box{
    width: 182px;
    height: 56px;
    background-color: var(--main-whitecolor1);
    opacity: 50%;
    position: absolute;
    left: 0;
    top: -50%;
    z-index: 1;
}

.main-read-more{
    width: 183px;
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    opacity: 70%;
    justify-content: center;
    margin-top: 32px;
}

.main-read-more:first-of-type span{
    color: var(--main-blackcolor1);
    font-weight: 900;
}

.main-read-more svg{
    width: 50px;
    position: relative;
}

#eco-strory{
    margin: 0 auto;
    max-width: 1700px;
    padding: 71px;
}

#eco-strory > h3{
    font-size: 60px;
    font-weight: 900;
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

#eco-strory > h3::after{
    content: '';
    display: block;
    width: 100%;
    background-color: var(--main-blackcolor1);
    opacity: 20%;
    position: absolute;
    height: 15px;
    bottom: 0;
}

.about-ecostory{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    gap: 24px;
    margin-bottom: 64px;
}

.eco-tittle{
    padding: 8px 32px;
    background-color: #fff;
    border: 2px solid var(--main-blackcolor1);
    border-radius: 40px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.eco-tittle > a{
    color: var(--main-blackcolor1);
    font-size: 15px;
    font-weight: 900;
}

.click-area{
    background-color: var(--main-blackcolor1);
}

.click-area > a{
    color: #fff;
}


.eco-story-explane{
    display: flex;
}

.eco-stoty-text-contents-wrapper{
    display: flex;
    overflow: hidden;
    flex-basis: 35%;
}

.eco-story-text{
    color: var(--main-blackcolor1);
    flex-shrink: 0;
    width: 100%;
}

.eco-story-text:first-of-type p {
    font-weight: 900;
    margin-top: 24px;
}

.eco-tittle-name{
    font-weight: 900;
    font-size: 25px;
    margin-top: 24px;
    line-height: 32px;
}

.ecostory-text{
    display: block;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}

.read-more{
    display: flex;
    align-items: center;
    width: fit-content;
}

.read-more:hover + .read-more:first-child span{
    opacity: 50%;
}

.read-more:hover + .arrow>svg{
    transform: translateX(50%);
}

.read-more > span{
    color: var(--main-blackcolor1);
    margin-top: 32px;
    display: flex;
    font-weight: 800;
}

.arrow{
    width: 56px;
    height: 56px;
    position: relative;
    z-index: 100;
}

.arrow::before{
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--magin-graycolor);
    content: '';
    display: block;
    border-radius: 50%;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    opacity: 30%;
}

.read-more > svg{
   width: 100%;
}

.eco-stoty-img{
    flex-basis: 65%;
    height: 450px;
    background-image: url(../img/eco-area.jpg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-basis: 65;
    padding: 50px;
}

.eco-story-img-tittle-wrawpper{
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
}

.eco-story-img-tittle-wrawpper p {
    color: #fff;
}

.green-text{
    color: var(--main-greencolor1);
}

.get-green-us-img{
    flex-basis: 35;
}

.get-green-us-img > figure{
    width: 100%;

}

.get-green-us-img img{
    width: 100%;
    height: 100%;
}

.eoc-story-img-expalne{
    color: #fff;
}

.about-greenus{
    margin-top: 64px;
    font-size: 20px;
    font-weight: 800;
}

.about-greenus::before{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 15px;
}

.eoc-story-img-expalne:last-child p {
    line-height: 24px;
    margin-top: 16px;
}


#dessert39-desert{
    padding-top: 64px;
}

#dessert39-desert > h3{
    font-size: 60px;
    font-weight: 900;
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 64px;
}

#dessert39-desert > h3::before{
    content: '';
    display: block;
    background-color: var(--main-blackcolor1);
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 20%;
}

.deseert39-menu img {
    width: 100%;
}

.deseert39-menu figure {
    width: 180px;
    height: 180px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
}

.dessert39-slide-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.dessert39-menu-wrapper{
    display: flex;
    width: calc(100% * 4);
    overflow: hidden;
    justify-content: center;
}

.deseert39-menu{
    width: calc(100% / 4);
}

.more-view{
    width: 140px;
    display: flex;
    border: 2px solid var(--main-blackcolor1);
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    color: var(--main-blackcolor1);
    margin: 0 auto;
    margin-top: 32px;
}

.desert-slide-navigation{
    max-width: 1200px;
    height: 2px;
    background-color: var(--magin-graycolor);
    margin: 0 auto;
    position: relative;
}

.navigation-black-bar{
    position: absolute;
    width: 40%;
    background-color: var(--main-blackcolor1);
    height: 2px;
    margin: 0 auto;
}

#dessert-dirnks{
    padding-top: 88px;
}

#dessert-dirnks > h3{
    font-size: 60px;
    font-weight: 900;
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 64px;
}

#dessert-dirnks > h3::before{
    content: '';
    display: block;
    background-color: var(--main-blackcolor1);
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 20%;
}

.sale-thumbler{
    font-weight: 800;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

#dessert39-introduction{
    padding-top: 64px;
    padding: 71px;
}

#dessert39-introduction>h3{
    display: block;
    margin: 0 auto;
    font-size: 60px;
    position: relative;
    font-weight: 900;
    width: fit-content;
}

#dessert39-introduction>h3::before{
    content: '';
    display: block;
    background-color: var(--main-blackcolor1);
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 20%;
}

.location{
    flex-basis: 50%;
    padding-right: 50px;
    border-right: 1.5px solid var(--magin-graycolor);
}

.introduction-wrapper{
    padding-top: 64px;
    display: flex;
    max-width: 1700px;
}

.dessert39-introduction-area img{
    width: 100%;
}

.dessert39-introduction-area > figure{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.competitive{
    flex-basis: 50%;
    padding-left: 50px;
}

.dessert39-introduction-area-text{
    font-size: 32px;
    font-weight: 800;
    padding: 24px 0px;
}

.dessert39-introduction-area-text-explane{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.bold-text{
    font-weight: bold;
}

#dessert39-store-tnterior{
    display: flex;
    padding: 71px;
    max-width: 1700px;
}

.interior-slide-wrapper{
    flex-basis: 50%;
}

.interior-text-wrapper{
    flex-basis: 50%;
}

.interior-wrapper img{
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.interior-wrapper > li{
    flex-shrink: 0;
    width: 100%;
    
}

.interior-wrapper{
    display: flex;
}

.interior-slide-container{
    width: 540px;
    height: 540px;
    overflow: hidden;
    position: relative;
}

.interior-text-wrapper > h3{
    width: fit-content;
    display: block;
    font-size: 60px;
    margin: 0 auto;
    font-weight: 900;
    position: relative;
}

.interior-text-wrapper > h3::before{
    content: '';
    display: block;
    background-color: var(--main-blackcolor1);
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 20%;
}

.interior-logo{
    width: 100%;
    height: 210px;
    display: inline-block;
}

.interior-butoon-logo-wrapper{
    display: flex;
}

.interior-number{
    display: felx;
}

.change-number{
    font-size: 40px;
}

.fixed-number{
    font-size: 40px;
}