:root{
    --main-blackcolor1:#1c1c1c;
    --main-whitecolor1:#fff;
    --main-greencolor1:#c8dd76;
    --magin-graycolor:#c0c0c0;
}

.hide-text{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}


header{
    margin: 0 auto;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2vw;

}
nav{
    display: flex;
    position: relative;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.left-header{
    display: flex;
    position: absolute;
    left: 0;
    gap: 32px;
}

.right-header-wrapper{
    gap: 32px;
    display: flex;
    position: absolute;
    right: 0;
}

.header-logo{
    width: 53px;
    height: 80px;
}


.header-sns-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-sns-wrapper svg{
    width: 100%;
    height: 100%;
}

.header-sns-wrapper a{
    /* a는 block넣어주기 */
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 10px;
}
    
.header-wrapper{
    text-align: start;
}

.nav-tittle{
    padding-top: 24px;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 32px;
}

.inner-nav{
    display: none;
    margin-top: 24px;
}
.inner-nav > li{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}

nav a {
    color: var(--main-blackcolor1);
}

.active{
    width: 165px;
}

#main-slide-area{
    padding-bottom: 64px;
}

.main-slide-wrapper{
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}

.contents-wrwapper{
    width: 100%;
    display: flex;
}

.main-first-slide{
    background-image: url(../img/main-slide/56.jpg);
    background-position: 60% center;
}

.content{
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.main-slide-text{
    position: absolute;
    top: 20%;
    color: var(--main-whitecolor1);
    left: 5%;
}

.main-slide-text:first-of-type p {
    font-size: 16px;
}

.main-slide-text h2 {
    font-size: 45px;
    font-weight: 900;
    margin-top: 32px;
    line-height: 56px;
}

.content-explane{
    font-size: 17px;
    margin-top: 32px;
    line-height: 24px;
    font-weight: 900;
}

.read-more-box{
    width: 182px;
    height: 56px;
    background-color: var(--main-whitecolor1);
    opacity: 50%;
    position: absolute;
    left: 0;
    top: -50%;
    z-index: 1;
}

#eco-strory{
    margin: 0 auto;
    max-width: 1700px;
    padding: 71px;
}

#eco-strory > h3{
    font-size: 60px;
    font-weight: 900;
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

#eco-strory > h3::after{
    content: '';
    display: block;
    width: 100%;
    background-color: var(--main-blackcolor1);
    opacity: 20%;
    position: absolute;
    height: 15px;
    bottom: 0;
}

.about-ecostory{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    gap: 24px;
    margin-bottom: 64px;
}

.eco-tittle{
    padding: 8px 32px;
    background-color: #fff;
    border: 2px solid var(--main-blackcolor1);
    border-radius: 40px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.eco-tittle > a{
    color: var(--main-blackcolor1);
    font-size: 15px;
    font-weight: 900;
}

.click-area{
    background-color: var(--main-blackcolor1);
}

.click-area > a{
    color: #fff;
}


.eco-story-explane{
    display: flex;
}

.eco-story-text{
    color: var(--main-blackcolor1);
    flex-basis: 35%;
}

.eco-story-text:first-of-type p {
    font-weight: 900;
    margin-top: 24px;
}

.eco-tittle-name{
    font-weight: 900;
    font-size: 25px;
    margin-top: 24px;
    line-height: 32px;
}

.ecostory-text{
    display: block;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}

.read-more{
    display: flex;
    align-items: center;
    width: fit-content;
}

.read-more:hover + .read-more:first-child span{
    opacity: 50%;
}

.read-more:hover + .arrow>svg{
    transform: translateX(50%);
}

.read-more > span{
    color: var(--main-blackcolor1);
    margin-top: 32px;
    display: flex;
    font-weight: 800;
}

.arrow{
    width: 56px;
    height: 56px;
    position: relative;
    z-index: 100;
}

.arrow::before{
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--magin-graycolor);
    content: '';
    display: block;
    border-radius: 50%;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    opacity: 30%;
}

.read-more > svg{
   width: 100%;
}

.eco-stoty-img{
    flex-basis: 65%;
    height: 450px;
    background-image: url(../img/eco-area.jpg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-basis: 65;
}

.eoc-story-img-explane-wrapper{
    padding: 24px;
}

.eco-story-img-tittle-wrawpper{
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
}

.eco-story-img-tittle-wrawpper p {
    color: #fff;
}

.green-text{
    color: var(--main-greencolor1);
}

.get-green-us-img > figure{
    width: 40%;
    flex-basis: 35;
}

.get-green-us-img img{
    width: 100%;
    height: 100%;
}

.eoc-story-img-expalne{
    color: #fff;
}

.about-greenus{
    margin-top: 64px;
    font-size: 20px;
    font-weight: 800;
}

.about-greenus::before{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 15px;
}

.eoc-story-img-expalne:last-child p {
    line-height: 24px;
    margin-top: 16px;
}