:root{
    --main-blackcolor1:#1c1c1c;
    --main-whitecolor1:#fff;
    --main-greencolor1:#c8dd76;
    --magin-graycolor:#c0c0c0;
}

.hide-text{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}


header{
    width: 100%;
}
nav{
    display: flex;
    position: relative;
    height: 100px;
}

.left-header{
    display: flex;
    position: absolute;
    left: 0;
}

.right-header-wrapper{
    display: flex;
    position: absolute;
    right: 0;
}

.header-logo{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.header-sns-wrapper{
    display: flex;
}

.header-sns-wrapper svg{
    width: 100%;
    height: 100%;
}

.header-sns-wrapper a{
    /* a는 block넣어주기 */
    display: block;
    width: 20px;
    height: 20px;
}

nav a {
    color: var(--main-blackcolor1);
}